<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Diamond</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include('../partials/header')%>
    <main>
    <form class="formulario-login" action="/">  
        <div>
            <label class="label">Usuario</label> 
        </div>
        <div> 
            <input class="input" type="text" placeholder="" name="usuario" required>
        </div>
        <br>
        <div>    
            <label class="label">Correo Electronico</label>
        </div>
        <div>
            <input class="input" type="email" placeholder="" name="correo" required>
        </div>
        <br>
        <div>    
            <label class="label">Contraseña</label>
        </div>
        <div>    
            <input class="input" type="password" placeholder="" name="contraseña" required>
        </div>
        <br>
        <div class="boton">    
            <a href="/"><button  type="submit">Enviar</button></a>
            <button  type="reset">Borrar</button>
        </div>    
    </form>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>