<!DOCTYPE html>
<html lang="en">
    <%- include('head')%>
<body>
    <footer>
        <section class="footer">
            Contáctanos
            <div class="contactos">
                <div class="whatsapp"><img src="/images/whatsapp.png"> Whatsapp<br> 3xx-xxx-xxx</div>
                <div class="correo"><img src="/images/correo.png"> Correo electrónico<br> BlackDiamond@gmail.com</div>
            </div>
        </section>
        <section class="footer">
            <div>Redes Sociales</div>
            <div class="redes">
                <img src="/images/facebook.png">
                <img src="/images/instagram.png">
                <img src="/images/twitter.png">
            </div>
        </section>
    </footer>
</body>
</html>