<!DOCTYPE html>
<html lang="en">
    <%- include('head')%>
<body>
    <header>
        <div class="top-header">
            <div id="mobile">
                <div class="menu">
                    <label for="check-menu"><i class="fas fa-chevron-circle-down"></i></label>
                </div>
                <input type="checkbox" id="check-menu">
                    <div class="container-menu">
                        <div class="cont-menu">
                            <nav>
                                <a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a>
                                <a href="/register"><i class="fas fa-user-plus"></i>Sign up</a>
                                <a href="/cart"><i class="fas fa-cart-plus"></i>carrito</a>
                                <a href="/products">Todos</a>
                                <a href="/camisetas">Camisetas</a>
                                <a href="/joggers">Joggers</a>
                                <a href="/jeans">Jeans</a>
                                <a href="/gorras">Gorras</a>
                                <a href="/busos">Busos</a>
                            </nav>
                            <label for="check-menu">✖️</label>
                        </div>
                    </div>
            </div>
            <div class="links">
                <i id="mobile" class="fas fa-cart-plus"></i>
                <ul id="desktop">
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a></li> 
                    <li><a href="/register"><i class="fas fa-user-plus"></i>Sign up</a></li>
                    <li><a href="/cart"><i class="fas fa-cart-plus"></i>Carrito</a></li>
                </ul>
            </div>
            <div class="buscar">
                    <label for="check-buscar"><i class="fas fa-search"></i></label>
                    <input type="checkbox" id="check-buscar">
                    <div class="container-buscar">
                            <nav>
                                <input type="text" id="buscar" placeholder="buscar">
                            </nav>
                            <label for="check-buscar">✖️</label>
                    </div>
            </div>
        </div>
        <div class="logo">
            <a href = "/"><img class="logo-mobile" src="/images/BD mobile.png"></a>
            <a href="/"><img class="logo-desktop" src="/images/Black diamond.png"></a>
        </div>
        <div class="navbar">
            <ul id="desktop">
                <a href="/products"><li>Todos</li></a>
                <a href="/camisetas"><li>Camisetas</li></a>
                <a href="/joggers"><li>Joggers</li></a>
                <a href="/jeans"><li>Jeans</li></a>
                <a href="/gorras"><li>Gorras</li></a>
                <a href="/busos"><li>Busos</li></a>
            </ul>
        </div>
    </header>
</body>
</html>