<!DOCTYPE html>
<html lang="en">
    <%- include('head')%>
<body>
    <header>
        <div class="top-header">
            <div id="mobile">
                <div class="menu">
                    <label for="check-menu"><i class="fas fa-chevron-circle-down"></i></label>
                </div>
                <input type="checkbox" id="check-menu">
                    <div class="container-menu">
                        <div class="cont-menu">
                           
                            <label for="check-menu">✖️</label>
                        </div>
                    </div>
            </div>
            <div class="links">
                <i id="mobile" class="fas fa-cart-plus"></i>
                <ul id="desktop">
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a></li> 
                    <li><a href="/cart"><i class="fas fa-cart-plus"></i>Carrito</a></li>
                </ul>
            </div>
            <div class="buscar">
                    <label for="check-buscar"><i class="fas fa-search"></i></label>
                    <input type="checkbox" id="check-buscar">
                    <div class="container-buscar">
                            <nav>
                                <input type="text" id="buscar" placeholder="buscar">
                            </nav>
                            <label for="check-buscar">✖️</label>
                    </div>
            </div>
        </div>
        <div class="logo">
            <a href = "/"><img class="logo-mobile" src="/images/BD mobile.png"></a>
            <a href="/"><img class="logo-desktop" src="/images/Black diamond.png"></a>
        </div>
        <div class="navbar">
           
        </div>
    </header>
</body>
</html>