<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%> 
<body>
    <%- include('./partials/header')%>
    <main>
        <div class="banner">
            <div class="info">
                <h2>Bienvenidos a Black Diamond</h2>
                       
            </div> 
        </div>
        <div class="nuevo">
            <div><img src="/images/nuevo.png"></div>
        </div>
        <div class="articulo-nuevo">
            <article>
                <a href="/productdetail"><img src="/images/productos/busos/buso ajo.jpg"></a>
            </article>
            <article>
                <a href="/productdetail"><img src="/images/productos/jogger/jogger-cargo.jpg"></a>
            </article>
            <article>
                <a href="/productdetail"><img id="desktop" src="/images/productos/camisetas/camibuso-skull.jpg"></a>
            </article>
        </div>
        <div class="fire">
            <div><img src="images/sol.png"></div>
        </div>     
        <div class="articulo-fire">   
            <article>
                <a href="/productdetail"><img src="/images/productos/busos/buso one piece.jpg"></a>
            </article>
            <article id="tablet">
                <a href="/productdetail"><img src="/images/productos/gorras/cap blac.jpg"></a>
            </article>
            <article id="tablet">
                <a href="/productdetail"><img src="/images/productos/jogger/jogger-cargo.jpg"></a>
            </article>
            <article id="desktop">
                <a href="/productdetail"><img src="/images/productos/busos/buso shar.jpg"></a>
            </article>
            <article id="desktop">
                <a href="/productdetail"><img src="/images/productos/camisetas/camiseta-samurai.jpg"></a>
            </article>
            
        </div>
        <div class="video">
            <video src="/videos/sample.mp4" controls></video>
        </div>
        <br>
        <div class="nosotros">
        </div>
        <br>
    </main>
    <%- include('./partials/footer')%>


</body>
</html>