<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%> 
<body>
    <%- include('../partials/headerLogin')%> 
    <% if (typeof errors != 'undefined')  { %> 
        <p style='color:red'>ERROR</p>
        <ul>
            <% for (let i= 0; i < errors.length; i++) { %> 
                <li>
                    <%= errors[i].msg %> 
                </li>
            <% } %> 
        </ul>  
    <% } %>    
    <main>
        <form class="formulario-login" action="/login" method="POST">  
        <section>
            <h4>Iniciar Sesión</h4>
            <input class="login-control" type ="emeil" name="email" id="email"placeholder="Ingrese su Correo">
            <input class="login-control" type ="password" name="contraseña" id="contraseña"placeholder="Ingrese su contraseña">
            <p>Estoy de acuerdo con: <a href="#">Terminos y condiciones</a></p>
            <input class="botonsre" type="submit" value="Ingresar">
            <p><a href="#">¿Has olvidado tu Contraseña?</a></p>
        </section>  
        </form>
    </main>
  
</body>

</html>