<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%> 
<body>
    <%- include('../partials/headerLogin')%> 
       
    <main>
        <form class="formulario-login" action="/login" method="POST">  
        <section>
            <h4>Iniciar Sesión</h4>
            <input class="login-control" type ="emeil" name="email" id="email"placeholder="Ingrese su Correo">
            <p style='color:red'> <%= locals.errors?.[0].msg%> </p>
            <input class="login-control" type ="password" name="contraseña" id="contraseña"placeholder="Ingrese su contraseña">
            <p style='color:red'> <%= locals.errors?.[1].msg%> </p>
            <p>Estoy de acuerdo con: <a href="#">Terminos y condiciones</a></p>
            <input class="botonsre" type="submit" value="Ingresar">
            <p><a href="#">¿Has olvidado tu Contraseña?</a></p>
        </section>  
        </form>
    </main>
  
</body>

</html>