<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%> 
<body>
    <%- include('../partials/header')%>
    <div class="banner"> <img src="/images/img-home-banner.jpg"> </div>
    <main>   
        <section>
            <h3 class="titulares">Basado en la última vista </h3> <br>
            <div class="articulos">
            <article>
                <img height="200" src="/images/img-cafetera-moulinex.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                    
                <div>
                    <span class="precio">$6.770</span>
                    <br><br>
                    <span class="descuento">40%OFF</span>
                    <br>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-macbook-pro-2019.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                   
                    <span class="precio">$230.000</span>
                    <br><br>
                    <span class="descuento">20%OFF</span>
                    <br> 
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-samsung-galaxy-s10.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                   
                    <span class="precio">$70.500</span>
                    <br><br>
                    <span class="descuento">10%OFF</span>
                    <br> 
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-tv-samsung-smart.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                    
                    <span class="precio">$23.200</span>
                    <br><br>
                    <span class="descuento">5%OFF</span>
                    <br> 
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3> <br>
            <div class="articulos">
            <article>
                <img height="200" src="/images/img-cafetera-moulinex.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                   
                    <span class="precio">$6.770</span>
                    <br><br>
                    <span class="descuento">40%OFF</span>
                    <br> 
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-macbook-pro-2019.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                    
                    <span class="precio">$230.000</span>
                    <br><br>
                    <span class="descuento">20%OFF</span>
                    <br> 
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-samsung-galaxy-s10.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                   
                    <span class="precio">$70.500</span>
                    <br><br>
                    <span class="descuento">10%OFF</span>
                    <br> 
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img height="200" src="/images/img-tv-samsung-smart.jpg">
                <span>
                    <i class="fas fa-truck"></i>
                </span>
                <div>
                   
                    <span class="precio">$23.200</span>
                    <br><br>
                    <span class="descuento">5%OFF</span>
                    <br> 
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>