<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%> 
<body>
 <div class="menu">
    <header class="text-center">
        <h1 class="camisetas">Jeans</h1> 
    </header> 
<div class="productos">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 product">
            <div class="card">
                <img src="/images/productos/camisetas/camibuso-skull.jpg" alt="Camibuso Skull"> </a>
                <h3>Camibuso Skull</h3>
                <p>50.000</p>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 product">
                <div class="card">
                    <img src="/images/productos/camisetas/camiseta-samurai.jpg" alt="Camiseta Samurai"></a>
                    <h3>Camiseta Samurai</h3>
                    <p>50.000</p>

                </div>
                <div class="col-xs-10 col-sm-6 col-md-4 product">
                    <div class="card">
                        <img src="/images/productos/camisetas/camiseta-shark.jpg" alt="Camiseta Shark"></a>
                        <h3>Camiseta Shark</h3>
                        <p>50.000</p>
                    </div>
        </div>
    </div>
</div>



</body>
</html>