<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%> 
<body>
 <div class="menu">
    <header class="text-center">
        <h1 class="Joggers">Joggers</h1> 
    </header> 
<div class="productos">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 product">
            <div class="card">
                <img src="/images/productos/jogger/jogger-cargo.jpg" alt="Jogger Cargo"> </a>
                <h3>Jogger Cargo</h3>
                <p>100.000</p>
            </div>
        </div>
    </div>
</div>



</body>
</html>