<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%> 
<body>
    <%- include('../partials/header')%>
    <main>
        <section  class="product-img">
            
            <form class="product"action="/">   
                <h3>Nombre del producto(s)</h3> 
                <br>
                <div class="objetodecompra">
                <img src="/images/sample.png">
                <img src="/images/sample.png">
                </div>
               
            <div>
                <h3>Cantidad</h3>
                <select class="cantidad" name="cantidad" id="qty_SK186AC32SCTCO-1583467" title="Cantidad">
                 <option selected="opcion">1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
                 <option>9</option>
                 <option>10</option>
                </select>
                <h4>TALLA</h4>
                <select class="talla" name="talla" id="talla" title="talla">
                    <option selected="opcion">S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                </select>
            </div>
             <div>
                <h3>Precio</h3>
                <p class="preciodelproducto">$&nbsp;00.00 VALOR</p>
            </div>
        <br>
            <section>
            <div class="product-form">
                <button><a href="/cart"><i class="fas fa-cart-plus"></i>Agregar al carrito</a>  </button>  
        <br>      
            </div>
           </section>
         </form>
        </section>
       




    </main>
    <%- include('../partials/footer')%>

</body>
</html>